# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Application Configuration
NEXT_PUBLIC_APP_NAME="Attendance & Curriculum System"
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Email Configuration (REQUIRED)
RESEND_API_KEY= re_f2vb37RS_2k6NPuGReDo4Lp8pHj6oagFG
# Email Domain (use your verified Resend domain)
EMAIL_FROM_DOMAIN= www.al-hikmah.org
EMAIL_FROM_NAME="Al Hikmah Institute Crawley"
EMAIL_REPLY_FROM = alhikmahinstitutecrawley@gmail.com